{% extends 'base.html' %} {% block content %}

<div class="shoppingCart">
  <h2>My Cart</h2>

  <div class="heading">
    <div class="p_name"><h4>Product's Name</h4></div>
    <div class="name"><h4>Quantity</h4></div>
    <div class="name"><h4>Unit Price</h4></div>
    <div class="name"><h4>Prize</h4></div>
  </div>

  <div class="itemContainer">

    {% for item in items %}
    <div class="item">
      <div class="iteminfo">
        <div class="p_img">
          <img src="{{item.product.picture.url}}" alt="" />
        </div>
        <p>{{item.product.name}}</p>
      </div>

      <div class="name"><p>{{item.quantity}}</p></div>
      <div class="name"><p>${{item.product.price}}</p></div>
      <div class="name"><p>${{item.price}}</p></div>
    </div>

    {% endfor %}
  </div>

  <div class="pay-section">
    <h3>Grand-Total: ${{cart.total_price}}</h3>
    <button onclick = "makePayment()" >Pay</button>
  </div>
</div>

<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>

let cart_total = "{{cart.total_price}}"
let cart_id = "{{cart.id}}"


  function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-PUBLIC KEY",
      tx_ref: "titanic-48981487343MDI0NzMx",
      amount: cart_total,
      currency: "USD",
      payment_options: "card, mobilemoneyghana, ussd",
      redirect_url: "http://127.0.0.1:8000/confirm_payment/"+cart_id,
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "rose@unsinkableship.com",
        phone_number: "08102909304",
        name: "{{request.user.username}}",
      },
      customizations: {
        title: "My Shop",
        description: "Buy with ease",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }

</script>

{% endblock content %}

